<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Criamos uma string de conexao para apontar a ferramenta azul para a base AGENDACONTATOS-->
  <connectionStrings>
    <!--Com o Remove mandamos ignorar todas as configurações de conexao da padrão da ferramenta administrativa, ferramenta azul
      Web Site Administration Tool Wsat-->
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=PAULO-NT;Initial Catalog = AGENDACONTATOS; Integrated Security = true" />
    <!--É NECESSARIO LEVAR A STRING DE CONEXAO DO EF DO APP CONFIG DO PROJETO DATA ACCESS PARA O WEB CONFIG-->
    <add name="AGENDACONTATOSEntities" connectionString="metadata=res://*/AcessaDados.csdl|res://*/AcessaDados.ssdl|res://*/AcessaDados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAULO-NT;initial catalog=AGENDACONTATOS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!--Para habilitar os grupos de usuarios utilizar a sessao RolerManager, colocar diretamente no WEB.Config ou pelo Wsat-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <roleManager enabled="true" />
    <!--autenticação forms significa que vamos autenticar os usuários em uma base de dados-->
    <authentication mode="Forms">
      <!--nessa sessao falamos em qual pagina o usuario vai se autenticar,
      o nome da pagina principal, a pagina que le vai ser redirecionado após o login
      timeout tempo para expirar a sessão baseado em minutos, é o tempo de inatividade
      o usuario vai poder ficar no máximo 50 minutos sem dar um post para o servidor-->
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Home.aspx" timeout="50" />
    </authentication>
    <!--autentica que somente usuarios que passaram pela pagina de login acessem a aplicação. gerencia as permissões de acesso
    ? usuarios anonimos
    * todos usuarios-->
    <authorization>
      <deny users="?" />
    </authorization>
    <!--Definimos o tema visual da aplicação
    de acordo com o cliente-->
    <pages theme="Bradesco" />
    <!--Configuramos as paginas amgaveis de erro-->
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Modulos/Erros/Generica.aspx">
      <error statusCode="404" redirect="~/Modulos/Erros/Erro404.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>