<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="EMPRESARIOEntities" connectionString="metadata=res://*/BancoDeDados.csdl|res://*/BancoDeDados.ssdl|res://*/BancoDeDados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAULO-NT\BASE_ESTUDO;initial catalog=EMPRESARIO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
